@charset "utf-8"
body{
    background-color: white;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url("../assets/background-pages.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    /*position fixed and top 0 should make it a 
    nav bar that is permenant */
    
    top: 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px;
}
nav ul{
    display: flex;
    overflow: hidden;
}
nav ul li a{
    margin: 10px;
    font-family: "copperplate";
    color: #505050;
    font-size: 25px;
    font-weight: 700;
}
.logo{
    font-family: "copperplate";
    color: black;
    font-size: 35px;
    font-weight: 450;

}
.active{
    font-weight: bold;
    color:#2d2a2a;
}

.text-container p{
    font-size: 25px;
    font-weight: bold;
    font-family: "calibri";
    line-height: 0px;
    margin: 45px 0px 25px;
    text-shadow: seashell 2px;
}
.text-container{
    position: absolute;
    left: 10%;
    top:42%;
    transform:translate(-13%,-42%);
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
.text-container button{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    font-family: "copperplate";
    font-weight: bold;
    font-size: 15px;
    outline: none;
    margin: 0px 0px;
}

.download-resume-btn{
    background-color: #0b0b0b;
    color: #ffffff;
    border:none;
}
button:active{
    transform: scale(1.2);
}
.myphoto{
    height: 600px;
    position: absolute;
    bottom: 120px;
    left: 85%;
    border-radius: 5px;
    transform: translateX(-70%);
}
/* boxes for future projects*/
.box-1, .box-2, .box-3, .box-4, .box-5{
    width: 450px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.3);
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box-1{
    background-image: url("../assets/placeholder.jpg");
    flex: 100%;
    
}
.box-2{
    background-image: url("../assets/placeholder.jpg");
    flex: 40%;
}
.box-3{
    background-image: url("../assets/placeholder.jpg");
    flex: 40%;
}
.box-4{
    background-image: url("../assets/placeholder.jpg");
    flex: 40%;
}
.box-5{
    background-image: url("../assets/placeholder.jpg");
    flex: 40%;
}

.site-footer {
    width: 100%;
    display: inline-block;
    margin: 2em 0;
    height: 70px;
    background-color: #999;
}
.footer-container {
    
    float: right;
    width: 100%;
}