@charset "utf-8"
body{
    background-color: white;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url("../assets/background-pages.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    /*position fixed and top 0 should make it a 
    nav bar that is permenant */
    position: fixed;
    top: 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #ffffff;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 20px;
    font-family: "copperplate";
    color: #505050;
    font-size: 25px;
    font-weight: 700;
}
.logo{
    font-family: "copperplate";
    color: black;
    font-size: 35px;
    font-weight: 450;

}
.active{
    font-weight: bold;
    color:#2d2a2a;
}
.text-container p:nth-last-child(1){
    font-family: calibri;
    font-weight: bold;
    color:#6d6d6d;
    font-size: 50px;

}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 25px;
}
.text-container p:nth-child(3){
    font-family: "copperplate";
    color: #403e3e;
    font-size: 30px;
    line-height:30px;
}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-container{
    position: absolute;
    left: 13%;
    top:42%;
    transform:translate(-13%,-42%);
}
.text-container button{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    font-family: "copperplate";
    font-weight: bold;
    font-size: 15px;
    outline: none;
    margin: 0px 0px;
}
.hire-btn{
    border:2px solid #373636;
    color: #373636;
}
.download-resume-btn{
    background-color: #0b0b0b;
    color: #ffffff;
    border:none;
}
button:active{
    transform: scale(1.2);
}
.myphoto{
    height: 700px;
    position: absolute;
    bottom: 40px;
    left: 70%;
    border-radius: 5px;
    transform: translateX(-70%);
}
.work-container{
    width: 80%;
    height: 350px;
    background-color: red;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin-top: 1000px;
    position: relative;
}
.work-container img{
    height: 250px;
}
