@charset "utf-8"
body{
    background-color: white;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url("../assets/background-pages.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    /*position fixed and top 0 should make it a 
    nav bar that is permenant */
    
    top: 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px;
}
nav ul{
    display: flex;
    overflow: hidden;
}
nav ul li a{
    margin: 10px;
    font-family: "copperplate";
    color: #505050;
    font-size: 25px;
    font-weight: 700;
}
.logo{
    font-family: "copperplate";
    color: black;
    font-size: 35px;
    font-weight: 450;

}
.active{
    font-weight: bold;
    color:#2d2a2a;
}

.text-container p{
    font-size: 25px;
    font-weight: bold;
    font-family: "calibri";
    line-height: 0px;
    margin: 45px 0px 25px;
    text-shadow: seashell 2px;
    float: left;
    
    
}
.text-container{
    position: relative;
    left: 10%;
    top:42%;
    transform:translate(-13%,-42%);
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    opacity: 80%;
}


.download-resume-btn{
    background-color: #0b0b0b;
    color: #ffffff;
    border:none;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    font-family: "copperplate";
    font-weight: bold;
    font-size: 25px;
    outline: none;
    margin: 5px 5px;
    padding: 5px 5px 5px 5px;
    
}


.myphoto{
    float: none;
    height: 600px;
    position: relative;
    bottom: 120px;
    
    border-radius: 5px;
    
}
/* boxes for future projects*/
.box-1, .box-2, .box-3, .box-4, .box-5{
    width: 450px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.3);
}
.box-container{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box-1{
    background-image: url("../assets/placeholder.jpg");
    flex: 100%;
    background-position: center;
    margin-bottom: 20px;
    
}
.box-2{
    background-image: url("../assets/placeholder.jpg");
    flex: 40%;
    background-position: center;
    margin-right: 10px;
    margin-bottom: 20px;
}
.box-3{
    background-image: url("../assets/placeholder.jpg");
    flex: 40%;
    background-position: center;
    margin-left: 10px;
    margin-bottom: 20px;
}
.box-4{
    background-image: url("../assets/placeholder.jpg");
    flex: 40%;
    background-position: center;
    margin-right: 10px;
}
.box-5{
    background-image: url("../assets/placeholder.jpg");
    flex: 40%;
    background-position: center;
    margin-left: 10px;
}

.site-footer {
    width: 100%;
    display: inline-block;
    margin: 8px 0;
    height: 80px;
    background-color: #999;
}
.footer-container {
    float: right;
    padding: 10px;    
}
.footer-container img{
    max-height: 60px;
    max-width: 90px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    
    
}
/* Media query for compatability with smaller stuff*/
@media (max-width: 768px){
    .myphoto{
        max-height: 400px;
        height: 200px;
        position: relative;
        bottom: 120px;
        left: 85%;
        border-radius: 5px;
        transform: translateX(-70%);
    }

}